/* This is bookgrid for HTML5 and reading in a browser (mobile or desktop)  Copyright (c) 2014 Jan Lindblom. */
/*	HTML5 Reset :: style.css 	---------------------------------------------------------- 	We have learned much from/been inspired by/taken code where offered from: 	 	Eric Meyer					:: http://meyerweb.com 	HTML5 Doctor				:: http://html5doctor.com 	and the HTML5 Boilerplate	:: http://html5boilerplate.com 	 ------------------------------------------------------------------------------- */
html { margin: 0; padding: 0; border: 0; font-size: 100%; font-weight: normal; vertical-align: baseline; }

body { margin: 0; padding: 0; border: 0; font-size: 100%; font-weight: normal; vertical-align: baseline; }
body div { margin: 0; padding: 0; border: 0; font-size: 100%; font-weight: normal; vertical-align: baseline; }

span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary { margin: 0; padding: 0; border: 0; font-size: 100%; font-weight: normal; vertical-align: baseline; }

article, aside, figure, footer, header, nav, section, details, summary { display: block; }

* { box-sizing: border-box; }
*:before, *:after { box-sizing: border-box; }

img, object, embed { max-width: 100%; }

html { overflow: show; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after { content: ""; content: none; }

q:before, q:after { content: ""; content: none; }

a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted black; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

th { font-weight: bold; vertical-align: bottom; }

td { font-weight: normal; vertical-align: top; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

pre, code { white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }

.ie7 input[type="checkbox"] { vertical-align: baseline; }

.ie6 input { vertical-align: text-bottom; }

select, input, textarea { font: 99% sans-serif; }

table { font-size: inherit; font: 100%; }

small { font-size: 85%; }

strong { font-weight: bold; }

td { vertical-align: top; }
td img { vertical-align: top; }

sub { font-size: 75%; line-height: 0; }

sup { font-size: 75%; line-height: 0; top: -0.5em; }

sub { bottom: -0.25em; }

pre, code, kbd, samp { font-family: monospace, sans-serif; }

.clickable, label { cursor: pointer; }

input[type=button], input[type=submit], input[type=file] { cursor: pointer; }

button { cursor: pointer; margin: 0; }

input, select, textarea { margin: 0; }

button, input[type=button] { width: auto; overflow: visible; }

.ie7 img { -ms-interpolation-mode: bicubic; }

.clearfix { zoom: 1; }
.clearfix:before { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; clear: both; }

/* Sensible baseline, font sizes and image defaults.  Lifted and modified from ZURB Foundation. */
html { font-size: 100%; line-height: 120%; }

html, body { margin-top: 0.625em; font-size: 16px; }

body { font-family: "Gentium Book Basic", "Gentium Basic", Gentium, Iowan, "Roboto Slab", Georgia, "Times New Roman", Times, serif; }

h1, h2, h3, h4, h5, h6 { font-weight: bold; page-break-before: auto; page-break-after: avoid; page-break-inside: avoid; }

img { page-break-before: auto; page-break-after: avoid; page-break-inside: avoid; }

p { page-break-before: avoid; page-break-after: auto; page-break-inside: avoid; }

blockquote { page-break-before: auto; page-break-after: auto; page-break-inside: avoid; font-style: italic; }
@media only screen { blockquote { margin-left: 1em; margin-right: 1em; } }
@media only screen and (min-width: 37.5em) { blockquote { margin-left: 2em; margin-right: 2em; } }
@media only screen and (min-width: 48.0625em) { blockquote { margin-left: 3em; margin-right: 3em; } }

img { max-width: 100%; -ms-interpolation-mode: bicubic; height: auto; display: inline-block; vertical-align: middle; }

p { margin-bottom: 1.25em; text-rendering: optimizeLegibility; }

ul { list-style-position: inside; }
ul li { line-height: 120%; }

h1, h2, h3, h4, h5, h6 { margin-top: 0.2em; margin-bottom: 0.5em; line-height: 1.4; }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 60%; line-height: 0; }

h1 { page-break-before: always; font-size: 212.5%; }

h2 { page-break-before: avoid; font-size: 168.75%; }

h3 { page-break-before: always; font-size: 137.5%; }

h4 { font-size: 112.5%; }

h5 { font-size: 112.5%; }

h6 { font-size: 100%; }

@media only screen and (min-width: 37.5em) { h1, h2, h3, h4, h5, h6 { line-height: 1.4; }
  h1 { page-break-before: always; font-size: 275%; }
  h2 { page-break-before: avoid; font-size: 231.25%; }
  h3 { page-break-before: always; font-size: 168.75%; }
  h4 { font-size: 143.75%; }
  h5 { font-size: 112.5%; }
  h6 { font-size: 100%; } }
/* Grid */
section { max-width: 100%; margin-left: auto; margin-right: auto; }
section:after { content: " "; display: block; clear: both; }

article, header { width: 100%; float: left; margin-left: 0; margin-right: 0; padding-left: 8px; padding-right: 8px; }

@media only screen and (min-width: 37.5em) { section { max-width: 37.5em; margin-left: auto; margin-right: auto; }
  section:after { content: " "; display: block; clear: both; }
  article, header { padding-left: 5px; padding-right: 5px; } }
@media only screen and (min-width: 48.0625em) { section { max-width: 61.25em; margin-left: auto; margin-right: auto; }
  section:after { content: " "; display: block; clear: both; }
  article, header { padding-left: 15px; padding-right: 15px; } }
.caption { font-style: italic; }
.caption.center { text-align: center; }
.caption.label { font-weight: bold; }

.figure { width: auto; }
@media only screen and (max-width: 37.4375em) { .figure { width: 100%; } }
.figure.left { text-align: left; }
.figure.right { text-align: right; }
.figure.center { text-align: center; }
.figure img { border: 0; }
@media only screen and (max-width: 37.4375em) { .figure img { width: 100%; } }
@media only screen and (min-width: 37.5em) { .figure.float img { width: 25%; } }
@media only screen and (min-width: 48.0625em) { .figure.float img { width: 30%; } }
.figure.float.left img { float: left; }
.figure.float.right img { float: right; }

.sidebar.left, .sidebar.right, aside.left, aside.right { border: 1px solid black; padding: 3px; margin-top: 4px; margin-bottom: 4px; }
.sidebar.right, aside.right { float: right; margin-left: 4px; }
.sidebar.left, aside.left { float: left; margin-right: 4px; }

.width25 { width: 25%; }

.width50 { width: 50%; }

.width75 { width: 75%; }

.invis, .invisible, .hidden { margin: 16px auto; visibility: hidden; }
