/* This is bookgrid for embedding in an ePub or Kindle file.  Copyright (c) 2014 Jan Lindblom. */
/* Sensible baseline, font sizes and image defaults.  Lifted and modified from ZURB Foundation. */
html { font-size: 100%; line-height: 120%; }

h1, h2, h3, h4, h5, h6 { font-weight: bold; page-break-before: auto; page-break-after: avoid; page-break-inside: avoid; }

img { page-break-before: auto; page-break-after: avoid; page-break-inside: avoid; }

p { page-break-before: avoid; page-break-after: auto; page-break-inside: avoid; }

blockquote { page-break-before: auto; page-break-after: auto; page-break-inside: avoid; font-style: italic; }

@media amzn-mobi { span.dropcaps { font-size: 3em; font-weight: bold; } }
@media amzn-kf8 { body { font-family: "Gentium Book Basic", "Gentium Basic", Gentium, Iowan, "Roboto Slab", Georgia, "Times New Roman", Times, serif; }
  span.dropcaps { font-weight: normal; font-size: 320%; float: left; margin-top: -0.3225em; margin-bottom: -0.3245em; } }
.caption { font-style: italic; }
.caption.center { text-align: center; }
.caption.label { font-weight: bold; }

.figure { width: auto; }
@media only screen and (max-width: 37.4375em) { .figure { width: 100%; } }
.figure.left { text-align: left; }
.figure.right { text-align: right; }
.figure.center { text-align: center; }
.figure img { border: 0; }
.figure.float.left img { float: left; }
.figure.float.right img { float: right; }

.sidebar.left, .sidebar.right, aside.left, aside.right { border: 1px solid black; padding: 3px; margin-top: 4px; margin-bottom: 4px; }
.sidebar.right, aside.right { float: right; margin-left: 4px; }
.sidebar.left, aside.left { float: left; margin-right: 4px; }

.width25 { width: 25%; }

.width50 { width: 50%; }

.width75 { width: 75%; }

.invis, .invisible, .hidden { margin: 16px auto; visibility: hidden; }
