/* Sensible baseline, font sizes and image defaults.
 * 
 * Lifted and modified from ZURB Foundation. */

@import globals
@import susy

html
  font-size: 100%
  line-height: 120%

@if not $epub
  html,
  body
    margin-top: $paragraph-margin-bottom / 2
    font-size: $base-font-size
  // Default body styles
  body
    font-family: $body-font-family

// Default header styles
h1, h2, h3, h4, h5, h6
  font-weight: bold
  page-break-before: auto
  page-break-after: avoid
  page-break-inside: avoid

// Grid Defaults to get images and embeds to work properly
img
  page-break-before: auto
  page-break-after: avoid
  page-break-inside: avoid
  
// Default paragraph styles
p
  page-break-before: avoid
  page-break-after: auto
  page-break-inside: avoid

blockquote
  page-break-before: auto
  page-break-after: auto
  page-break-inside: avoid
  font-style: italic
  @if not $epub
    @media #{$small-up}
      margin-left: em-calc($em-base)
      margin-right: em-calc($em-base)
    @media #{$medium-up}
      margin-left: em-calc($em-base * 2)
      margin-right: em-calc($em-base * 2)
    @media #{$large-up}
      margin-left: em-calc($em-base * 3)
      margin-right: em-calc($em-base * 3)

@if not $epub
  img
    max-width: 100%
    -ms-interpolation-mode: bicubic
    height: auto
    // Get rid of gap under images by making them display: inline-block; by default
    display: inline-block
    vertical-align: middle

  p
    margin-bottom: $paragraph-margin-bottom
    text-rendering: $paragraph-text-rendering

  // Default list styles
  ul
    list-style-position: inside
    li
      line-height: $base-line-height

  // Default header styles
  h1, h2, h3, h4, h5, h6
    margin-top: $header-top-margin
    margin-bottom: $header-bottom-margin
    line-height: $header-line-height
    small
      font-size: $small-font-size
      line-height: 0

  h1
    page-break-before: always
    font-size: $h1-font-size - $h1-font-reduction
  h2
    page-break-before: avoid
    font-size: $h2-font-size - $h2-font-reduction
  h3
    page-break-before: always
    font-size: $h3-font-size - $h3-font-reduction
  h4
    font-size: $h4-font-size - $h4-font-reduction
  h5
    font-size: $h5-font-size - $h5-font-reduction
  h6
    font-size: $h6-font-size - $h6-font-reduction

@if $mq
  @media #{$medium-up}
    h1,h2,h3,h4,h5,h6
      line-height: $header-line-height
    h1
      page-break-before: always
      font-size: $h1-font-size
    h2
      page-break-before: avoid
      font-size: $h2-font-size
    h3
      page-break-before: always
      font-size: $h3-font-size
    h4
      font-size: $h4-font-size
    h5
      font-size: $h5-font-size
    h6
      font-size: $h6-font-size

@if $epub
  // Amazon Kindle MOBI media query
  @media amzn-mobi
    span.dropcaps
      font-size: 3em
      font-weight: bold

  // Amazon Kindle format 8 media query
  @media amzn-kf8
    body
      font-family: $body-font-family
    span.dropcaps
      font-weight: normal
      font-size: 320%
      float: left
      margin-top: -0.3225em
      margin-bottom: -0.3245em
