@import globals
@import susy

.caption
  font-style: italic
  &.center
    text-align: center
  &.label
    font-weight: bold


.figure
  width: auto
  @media #{$small-only}
    width: 100%
  &.left
    text-align: left
  &.right
    text-align: right
  &.center
    text-align: center
  img
    border: 0
    @if not $epub
      @media #{$small-only}
        width: 100%
  &.float
    img
      @if not $epub
        @media #{$medium-up}
          width: 25%
        @media #{$large-up}
          width: 30%
    &.left
      img
        float: left
    &.right
      img
        float: right

.sidebar,
aside
  &.left, &.right
    border: 1px solid black
    padding: 3px
    margin-top: 4px
    margin-bottom: 4px
  &.right
    float: right
    margin-left: 4px
  &.left
    float: left
    margin-right: 4px

.width25
  width: 25%
.width50
  width: 50%
.width75
  width: 75%

.invis, .invisible, .hidden
  margin: $em-base auto
  visibility: hidden