@if not $epub
  /*
   *	HTML5 Reset :: style.css
   *	----------------------------------------------------------
   *	We have learned much from/been inspired by/taken code where offered from:
   *	
   *	Eric Meyer					:: http://meyerweb.com
   *	HTML5 Doctor				:: http://html5doctor.com
   *	and the HTML5 Boilerplate	:: http://html5boilerplate.com
   *	
   *------------------------------------------------------------------------------- */

  // Let's default this puppy out
  //-------------------------------------------------------------------------------
  html
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font-weight: normal
    vertical-align: baseline

  body
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font-weight: normal
    vertical-align: baseline
    div
      margin: 0
      padding: 0
      border: 0
      font-size: 100%
      font-weight: normal
      vertical-align: baseline

  span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font-weight: normal
    vertical-align: baseline

  article, aside, figure, footer, header, nav, section, details, summary
    display: block

  // consider resetting the default cursor: https://gist.github.com/murtaugh/5247154

  // Apply a natural box layout model to all elements: http://paulirish.com/2012/box-sizing-border-box-ftw/
  *
    box-sizing: border-box
    &:before, &:after
      box-sizing: border-box

  // Responsive images and other embedded objects
  // Note: keeping IMG here will cause problems if you're using foreground images as sprites.
  // If this default setting for images is causing issues, you might want to replace it with a .responsive class instead.
  img, object, embed
    max-width: 100%

  html
    overflow: show

  blockquote, q
    quotes: none

  blockquote
    &:before, &:after
      content: ''
      content: none

  q
    &:before, &:after
      content: ''
      content: none

  a
    margin: 0
    padding: 0
    font-size: 100%
    vertical-align: baseline

  del
    text-decoration: line-through

  abbr[title], dfn[title]
    border-bottom: 1px dotted #000
    cursor: help

  // tables still need cellspacing="0" in the markup
  table
    border-collapse: collapse
    border-spacing: 0

  th
    font-weight: bold
    vertical-align: bottom

  td
    font-weight: normal
    vertical-align: top

  hr
    display: block
    height: 1px
    border: 0
    border-top: 1px solid #ccc
    margin: 1em 0
    padding: 0

  input, select
    vertical-align: middle

  pre,
  code
    // CSS2
    white-space: pre
    // CSS 2.1
    white-space: pre-wrap
    // CSS 3 (and 2.1 as well, actually)
    white-space: pre-line
    // IE
    word-wrap: break-word

  input
    &[type="radio"]
      vertical-align: text-bottom
    &[type="checkbox"]
      vertical-align: bottom

  .ie7 input[type="checkbox"]
    vertical-align: baseline

  .ie6 input
    vertical-align: text-bottom

  select, input, textarea
    font: 99% sans-serif

  table
    font-size: inherit
    font: 100%

  small
    font-size: 85%

  strong
    font-weight: bold

  td
    vertical-align: top
    img
      vertical-align: top

  // Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930
  sub
    font-size: 75%
    line-height: 0

  sup
    font-size: 75%
    line-height: 0
    top: -0.5em

  sub
    bottom: -0.25em

  // standardize any monospaced elements
  pre, code, kbd, samp
    font-family: monospace, sans-serif

  // hand cursor on clickable elements
  .clickable, label
    cursor: pointer

  input
    &[type=button], &[type=submit], &[type=file]
      cursor: pointer

  button
    cursor: pointer
    margin: 0

  // Webkit browsers add a 2px margin outside the chrome of form elements
  input, select, textarea
    margin: 0

  // make buttons play nice in IE
  button, input[type=button]
    width: auto
    overflow: visible

  // scale images in IE7 more attractively
  .ie7 img
    -ms-interpolation-mode: bicubic

  // prevent BG image flicker upon hover 
  //   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
  //.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

  // let's clear some floats
  .clearfix
    &:before
      content: "\0020"
      display: block
      height: 0
      overflow: hidden
    &:after
      content: "\0020"
      display: block
      height: 0
      overflow: hidden
      clear: both
    zoom: 1